$_outlines: #ffc107;
$_inner: #ffb16e; //#fd7e14;
$primary: #ffc107;

/* $primary: $_inner;
$component-active-bg: $_inner;
$input-bg: $_inner; */

$input-border-width: 3px;
$input-border-color: $_outlines;
$form-select-border-color: $_outlines;
$form-range-thumb-bg: $_outlines;
// $form-range-track-bg: #ffd3ad;
@import "../bootstrap/scss/_functions";
@import "../bootstrap/scss/_variables";
$modal-content-color: $light;
$modal-content-bg: $dark;
@import "../bootstrap/scss/bootstrap";