#mainImage {
    background-image: url("../../imgs/main.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
}

#logo {
    position: relative;
    height: 50vh;
    width: auto;
    box-shadow: 0px 0px 150px 100px rgba(33, 37, 41, 1);
    -webkit-box-shadow: 0px 0px 150px 100px rgba(33, 37, 41, 1);
    -moz-box-shadow: 0px 0px 150px 100px rgba(33, 37, 41, 1);
}