#mainImage {
    background-image: url("../../imgs/main.jpg");
    background-size:cover;
    position: relative;
    height: 100vh;
}

#mainImageFooter {
    height: 25vh;
    background-color: #212529;
    top: 75vh;
    position: relative;
}

#logo {
    position: relative;
    bottom: 40vh;
    left: 50vh;
    height: 75vh;
    width: auto;
}

#logo-sm{
    position: relative;
    bottom: 15vh;
}